<div class="m-5">
    <app-navbar [mensaje]="mensaje"></app-navbar>

    <div class="row">
        <div class="col-lg-6">
            <h2>Parametros Proveedor/Marca</h2>
        </div>
        <div class="col-lg-6" style="text-align: right;">
            <button mat-raised-button color="warn" routerLink="/parametro">Agregar</button>
            <button mat-raised-button color="primary" routerLink="/home" type="button ">Home</button>
        </div>
    </div>

    
    <div class="col_lg-12">
        <mat-form-field appearance="fill">
            <mat-label>Brand Provider</mat-label>
            <mat-select  (selectionChange)="select($event.value)">
                <mat-option *ngFor="let brandP of brandProviders" [value]="brandP.brandProviderId">
                    {{brandP.brandProviderId}} - {{brandP.businessName}}/{{brandP.brand}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    

    <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo. Pedro" #input autocomplete="off">
    </mat-form-field>


    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="idproveedormarca">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor/Marca </th>
                <td mat-cell *matCellDef="let element"style="text-align:center"> {{element.brandProviderId}} </td>
            </ng-container>

            <ng-container matColumnDef="idparametro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Parametro</th>
                <td mat-cell *matCellDef="let element" style="text-align:left"> {{element.idparametro}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Parametro </th>
                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
            </ng-container>

            <ng-container matColumnDef="valor1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Entero </th>
                <td mat-cell *matCellDef="let element" style="text-align:right">{{element.valor_entero}}</td>
            </ng-container>

            <ng-container matColumnDef="valor2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Decimal </th>
                <td mat-cell *matCellDef="let element" style="text-align:right"> {{element.valor_decimal}} </td>
            </ng-container>

            <ng-container matColumnDef="valor3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Fecha </th>
                <td mat-cell *matCellDef="let element" style="text-align:right">{{element.fecha}}</td>
            </ng-container>

            <ng-container matColumnDef="valor4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Texto </th>
                <td mat-cell *matCellDef="let element"style="text-align:right">{{element.texto}}</td>
            </ng-container>

            <!--

            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor/Marca </th>
                <td mat-cell *matCellDef="let element">{{element.brandProviderId}}</td>
            </ng-container>
-->

            <!--
            <ng-container matColumnDef="optionsStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let element">
                    <a *ngIf="element.optionsStatus === 'active'" style="color: #E15639">
                        <mat-icon>done</mat-icon>
                    </a>

                    <a *ngIf="element.optionsStatus === 'inactive'" style="color: #E15639">
                        <mat-icon>block</mat-icon>
                    </a>

                </td>
            </ng-container>
            -->

             
            <ng-container matColumnDef="optionsUpdatedat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Actualizacion </th>
                <td mat-cell *matCellDef="let element">{{element.optionsUpdatedat | date: 'yyyy/MM/dd HH:mm'}}</td>
            </ng-container>
            
            <!--  
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element">{{element.status}}</td>
            </ng-container>
            -->

            
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element; let i = index">

                       
                    <a class="pointer" routerLink="/parametro/{{element.idparametro}}" style="color: #1878B0">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a (click)=eliminarParametroPamii(i,element) class="pointer" style="color: #E15639">
                        <mat-icon>delete</mat-icon>
                    </a>

                    

                </td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>


</div>