<h2 mat-dialog-title>Instructivo para llenar {{data.titulo}}</h2>
<mat-dialog-content class="mat-typography">

    <Div>

        <span [innerHTML]="data.name"></span>
        <!--    
        <h3>A continuación, se describe el instructivo que servirá de apoyo para diligenciar correctamente la Plantilla de Bolsa de Oportunidades para Proveedores/Marca de EstoesPamii.</h3>

        <h3><b>PROVEEDOR/MARCA:</b>
            <p>Este campo se llena con el dato que se encuentra en la Hoja "Proveedores Marca" columna F denominada "total_name".
            </p>
        </h3>

        <h3><b>ZONA:</b>
            <p>Este campo se llena con el dato que se encuentra en la Hoja "Zonas" Columna J denominada "total_zona".
            </p>
        </h3>

        <h3><b>FECHA ACTIVACION:</b>
            <p>Para llenar este campo correctamente, primero se debe colocar una comilla <b>( ' )</b> y luego la fecha de activación en el formato <em><b>yyyy-mm-dd. Ejemplo: '2023-04-12</b></em>
            </p>
        </h3>


        <h3><b>FECHA FINALIZACION:</b>
            <p>Para llenar este campo correctamente, primero se debe colocar una comilla <b>( ' )</b> y luego la fecha de activación en el formato <em><b>yyyy-mm-dd. Ejemplo: '2023-04-12</b></em>
                <br>
                <u><b>Nota: </b></u>La fecha de finalización debe ser mayor o igual a la fecha de activación.
            </p>
        </h3>


        <h3><b>NRO OPORTUNIDADES:</b>
            <p>Debe ser un valor numérico mayor a 0
            </p>
        </h3>

        <h3><b>TITULO OPORTUNIDAD:</b>
            <p>Este campo se llena con un titulo alfanumérico hasta un total de 50 caracteres.
            </p>
        </h3>

        <h3><b>DESCRIPCION OPORTUNIDAD:</b>
            <p>Este campo se llena con una descripción alfanumérica hasta un total de 150 caracteres.
            </p>
        </h3>

        <h3><b>REQUERIMIENTO1:</b>
            <p>Este campo se llena con una descripción alfanumérica hasta un total de 50 caracteres.
            </p>
        </h3>

        <h3><b>REQUERIMIENTO2:</b>
            <p>Este campo se llena con una descripción alfanumérica hasta un total de 50 caracteres.
            </p>
        </h3>

        <h3><b>REQUERIMIENTO3:</b>
            <p>Este campo se llena con una descripción alfanumérica hasta un total de 50 caracteres.
            </p>
        </h3>

        <h3><b>REQUERIMIENTO4:</b>
            <p>Este campo se llena con una descripción alfanumérica hasta un total de 50 caracteres.
            </p>
        </h3>

        <h3><em><b>Luego de diligenciar la plantilla, proceda con la opción de carga y confirmación.</b></em></h3>
        -->

    </Div>
    <!--
    <h1 mat-dialog-title>Hi {{data.name}}</h1>
    -->






    <!--
    <h3>Incredible tooling</h3>
    <p>Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this
        comes together so you can focus on building amazing apps rather than trying to make the code work.</p>

    <h3>Loved by millions</h3>
    <p>From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.</p>

    <h3>What is Angular?</h3>

    <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers
        to build applications that live on the web, mobile, or the desktop</p>

    <h3>Architecture overview</h3>

    <p>Angular is a platform and framework for building client applications in HTML and TypeScript. Angular is itself written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.</p>

    <p>The basic building blocks of an Angular application are NgModules, which provide a compilation context for components. NgModules collect related code into functional sets; an Angular app is defined by a set of NgModules. An app always has at least
        a root module that enables bootstrapping, and typically has many more feature modules.</p>

    <p>Components define views, which are sets of screen elements that Angular can choose among and modify according to your program logic and data. Every app has at least a root component.</p>

    <p>Components use services, which provide specific functionality not directly related to views. Service providers can be injected into components as dependencies, making your code modular, reusable, and efficient.</p>

    <p>Both components and services are simply classes, with decorators that mark their type and provide metadata that tells Angular how to use them.</p>

    <p>The metadata for a component class associates it with a template that defines a view. A template combines ordinary HTML with Angular directives and binding markup that allow Angular to modify the HTML before rendering it for display.</p>

    <p>The metadata for a service class provides the information Angular needs to make it available to components through Dependency Injection (DI).</p>

    <p>An app's components typically define many views, arranged hierarchically. Angular provides the Router service to help you define navigation paths among views. The router provides sophisticated in-browser navigational capabilities.</p>

    -->
</mat-dialog-content>

<mat-dialog-actions align="end">
    <!--
    <button mat-button mat-dialog-close>Cancel</button>
    -->
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cerrar</button>
</mat-dialog-actions>