<div class="m-5">
    <app-navbar [mensaje]="mensaje"></app-navbar>

    <div class="row">
        
        <div class="col-lg-6">
            <div *ngIf="brandProviders.length > 1 and brandProviders" class="col_lg-12">
                <mat-form-field appearance="fill">
                    <mat-label>Brand Provider</mat-label>
                    <mat-select  (selectionChange)="select($event.value)">
                        <mat-option *ngFor="let brandP of brandProviders" [value]="brandP.brandProviderId">
                            {{brandP.brandProviderId}} - {{brandP.businessName}}/{{brandP.brand}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!--
            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="cargarPlantilla($event)" #fileUploader>
            <button mat-raised-button color="primary" *ngIf="excelData.length > 0" (click)=confirmarPlantilla() type="button">Confimar Plantilla</button>
            -->
        </div>
        


        <div class="col-lg-6" style="text-align: right;">
            <!--
            <button mat-raised-button color="warn" routerLink="/usuario">Agregar</button>
            
            <button mat-raised-button color="secondary" (click)="openDialog()" type="button">Instructivo</button>
            <button mat-raised-button color="warn" (click)=generaPlantilla() type="button">Descargar Plantilla</button>
            -->
            <button mat-raised-button color="primary" routerLink="/home" type="button ">Home</button>
        
        </div>
    </div>

    <!--
    <button mat-button (click)="openDialog()">Open dialog</button>
    -->

    <h3 style="text-align: center">Datos Ultima Plantilla. </h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Sku Producto</th>
                <th scope="col">Producto</th>
                <th scope="col">Largo</th>
                <th scope="col">Alto</th>
                <th scope="col">Ancho</th>
                <th scope="col">Peso</th>
                <th scope="col">Sku Referencia</th>
                <th scope="col">Referencia</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let data of plantillaBrands; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{data['sku del producto']}}</td>
                <td>{{data['nombre del producto']}}</td>
                <td>{{data['largo']}}</td>
                <td>{{data['ancho']}}</td>
                <td>{{data['alto']}}</td>
                <td>{{data['peso']}}</td>
                <td>{{data['sku de la referencia']}}</td>
                <td>{{data['referencia']}}</td>

                <td >
                    <button (click)="viewProduct(data)" class="btn btn-outline-success">
                        <i class="fa fa-shopping-cart"></i>
                        Ver Producto
                    </button>
                </td>                

            </tr>
        </tbody>

    </table>

    <!--
    <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo. Pedro" #input autocomplete="off">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>


            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
            </ng-container>


            <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                <td mat-cell *matCellDef="let element">{{element.correo}}</td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let element">
                    <a *ngIf="element.estado === true" style="color: #E15639">
                        <mat-icon>done</mat-icon>
                    </a>

                    <a *ngIf="element.estado === false" style="color: #E15639">
                        <mat-icon>block</mat-icon>
                    </a>

                </td>
            </ng-container>



            <ng-container matColumnDef="rol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
            </ng-container>



            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element; let i = index">

                    <a class="pointer" routerLink="/usuario/{{element.id}}" style="color: #1878B0">
                        <mat-icon>edit</mat-icon>
                    </a>

                    <a (click)=eliminarUsuarioPamii(i,element) class="pointer" style="color: #E15639">
                        <mat-icon>delete</mat-icon>
                    </a>


                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

    -->
</div>
